[submodule "environment/dockerfiles"]
	path = environment/dockerfiles
	url = https://github.com/vimagick/dockerfiles
[submodule "competitions"]
	path = competitions
	url = git@github.com:49thSecurityDivision/Competitions.git
[submodule "environment/vagrant-templates/metasploitable3"]
	path = environment/vagrant-templates/metasploitable3
	url = https://github.com/rapid7/metasploitable3
